div.jumbotron {
  height: 400px;
  // background-image: url('https://via.placeholder.com/720x480/0000FF/808080?Text=tovick');
  background-size: contain;
}
.w-100 {
  width: 100% !important;
  height: -webkit-fill-available;
}
.m-r-10 {
  margin-right: 10px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.row {
  display: flex;
}
.btn-success {
  color: #fff;
  background-color: #ed047e;
  border-color: #ed047e;
  transition: ease-in-out 0.15s;
}

.btn-success:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.btn-success:focus,
.btn-success.focus {
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}
.btn-primary {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ed047e;
  border-color: #ed047e;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #ed047e;
  border-color: #ed047e;
}

.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: #ed047e;
  background-image: none;
  border-color: #ed047e;
}

.combo_products {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 18px;
  float: left;
  width: 100%;
  position: relative;
}
.combo_products img {
  width: 100px;
  float: left;
  height: 100px;
  margin-right: 0;
  padding: 10px;
}
.combo_products1 img {
  width: 100% !important;
}
