<div class="jumbotron jumbotron-fluid" style="{{imgStyle(currentCombo.image_path)}}">
  <img class="d-block w-100" [src]="imagepath+currentCombo.image_path" alt="">
  <div class="container">

  </div>
</div>
<div *ngIf="!loadProdList" class="container">
  <div class="row">
    <a (click)="prepProdSelection(0)">
      <div class="col" *ngIf="productList[0];else unselected">
        <div class="combo_products">
          <img width="100%"
            [src]="'https://tovick.com/backend/images/product/'+productList[0]['product']['id']+'/'+productList[0]['product']['image_one']">
          <p [innerHTML]="productList[0]['product']['name']">Unique Abstract Leave Printed Coffee Mug-350 ML</p>
        </div>
      </div>
    </a>
    <a (click)="prepProdSelection(1)">
      <div class="col" *ngIf="productList[1];else currentCombo.offer_cat_two!=0? unselected:blank;">
        <div class="combo_products">
          <img width="100%"
            [src]="'https://tovick.com/backend/images/product/'+productList[1]['product']['id']+'/'+productList[1]['product']['image_one']">
          <p [innerHTML]="productList[1]['product']['name']">Unique Abstract Leave Printed Coffee Mug-350 ML</p>
        </div>
      </div>
    </a>
    <a (click)="prepProdSelection(2)">
      <div class="col" *ngIf="productList[2];else currentCombo.offer_cat_three!=0? unselected:blank;">
        <div class="combo_products">
          <img width="100%"
            [src]="'https://tovick.com/backend/images/product/'+productList[2]['product']['id']+'/'+productList[2]['product']['image_one']">
          <p [innerHTML]="productList[2]['product']['name']">Unique Abstract Leave Printed Coffee Mug-350 ML</p>
        </div>
      </div>
    </a>


    <ng-template #unselected>
      <div class="col">
        <a class="ng-star-inserted">
          <div class="combo_products combo_products1"><img src="assets/images/loading.jpg" width="100%"></div>
        </a></div>
    </ng-template>
    <ng-template #blank></ng-template>
  </div>
  <div class="row">
    <div class="col-md-12 float-right">
      <button (click)="AddToCart()" class="btn btn-success float-right">Add to Cart</button>
      <button class="btn btn-primary m-r-10 float-right">Cancel</button></div>
  </div>
</div>
<app-combo-products-list [refcatId]="currentCat.cat_id" [catMaxPrice]="currentCat.max_price"
  [offerTitle]="currentCat.offer_title" (prodSelectEvent)="AddProdSelect($event)" *ngIf="loadProdList">
</app-combo-products-list>