.pt-5 {
    padding-top: 3rem !important;
}
// .mx-auto {
//     margin-right: 25% !important;
//     margin-left: 25% !important;
// }
#lgn_btn_sbt{
    text-align: center;
}
#lgn_btn_vrfy{
    text-align: center;
}
.card-body{
    padding: 20px;
}
h5{
    color: #ed047e;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.login_bg {
     box-shadow: 0 1px 8px 0 rgba(231, 49, 140, 0.897);
    padding: 20px 0;
    background: #fff;
    margin-top: 15px;
}
.btn-primary {
    color: #fff;
    background-color: #ED047E;
    border-color: #ED047E;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ED047E;
    border-color: #ED047E;
}
label{
    text-align: left !important;
}