<!-- <div class="pt-5"> -->
<div class="container">
<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12 login_bg ">
        <div class="rounded-0">
          <div class="login_form">
            <div class="card-body p-l-0 p-r-0">
              <h5 class="text-center">{{formHeading}}</h5>
              <p class="text-center">{{formMsg}}</p>
              <div class="align-items-center">
                <div class="mx-auto">
                  <form *ngIf="stage=='input'" [formGroup]="inputForm" >
                    <div class="form-group">
                      <label>Name</label>
                      <input formControlName="name" autofocus="" class="form-control rounded-0 login-form-control" name="username"
                        placeholder="Name" required="" type="text">
                    </div>
                    <div class="form-group">
                      <label>Mobile Number</label>
                      <input formControlName="mobile" class="form-control rounded-0 login-form-control" name="phone_number"
                        placeholder="Mobile Number" required="" type="tel">
                    </div>
                    <div class="form-group" id="lgn_btn_sbt">                  
                      <a class="btn btn-primary" *ngIf='!processing'  (click)="sendCode()">Login</a>
                    </div>
                  </form>
                  <div id="recaptcha-container"></div>
                  <form *ngIf="stage=='otp'" [formGroup]="otpVerificationForm" >
                      <div class="form-group">
                        <label>OTP</label>
                        <input formControlName="otp" autofocus="" class="form-control rounded-0 login-form-control" name="otp"
                          placeholder="Name" required="" type="text">
                      </div>                  
                      <div class="form-group" id="lgn_btn_vrfy">                  
                        <a class="btn btn-primary " *ngIf='!processing' (click)="verify()">Verify</a>
                      </div>
                    </form>
                </div>
              </div>
            </div>      
          </div>
        </div>
      </div>

     <div class="col-md-4 col-sm-4 col-xs-12"></div>
   </div>
</div>
</div>
<!-- </div> -->