.container-fluid{
  background:#f1f3f6;
}

div.promoted_products {
  background-color:#ED047E;;
  padding: 5px 0 2px 2px;
}
div.button-list{
  float: right;  
  font-size: 50px;  
  margin-bottom: 30px;
  
}
.button-list button{
  font-size: 50px;
  font-family: Montserrat-Regular, sans-serif;
  padding:0 8px;
  min-width:12px;
  color:#fff;

}
span.middle{
  text-align: left;
  vertical-align: middle;
  
}
h3.section-title{
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.section_subtitle{
  margin-left: 20px;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
  margin-left: 15px;
  margin-right:15px;
}
.fullwidthbanner{
  width: 98%;
}
.swiper-slide {
  text-align: left;
  padding-left:15px;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  width: 320px;
  height: 240px;
}
.swiper-slide .content {  
  min-height: 330px;

}
p.product_title,div.prices {
  font-size: small;
  text-align: left;
  height: 50px;
  overflow: hidden;
 
}
div.promoted_products p.section_subtitle {
  color: #fff;
}

.full_price{
    text-decoration:line-through;
    // color: #af0000;
}

.swiper-slide[_ngcontent-cih-c12] .content[_ngcontent-cih-c12] {
  min-height: 330px !important;
}
.product_title{
  color: black;
  font-size: 60%;
  font-weight: 500;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
#pp3_slide_para{
  text-decoration: none;
  transition: all 300ms ease-out 0s;
  //font-weight: 500;
  font-size: 12px;
 // font-family: 'Roboto',Arial,sans-serif;
  font-family: 'PT Sans', sans-serif;
  color: #4e4a4a;
}
#botm_div_prc{
  position:absolute;
  bottom:0;
  left:0px;
}
.offer_price{
  font-size:17px;
  //font-family: 'Lato', sans-serif;
  font-family: 'Roboto,Arial,sans-serif';
  font-weight: bold;
}
.full_price{
  font-size:17px !important;
  font-family: 'Roboto,Arial,sans-serif';
  font-weight: normal;
  color: #646e77;
}
.per_off_prc{
  font-size:14px !important;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  color:green;
}