<div class="container-fluid">
<div class="promoted_products">
  <div class="button-list">
    <button mat-button color="primary" (click)="prev()">
      ‹
    </button>
    <button mat-button color="primary" (click)="next()">
      ›
    </button>
  </div>
  <span class="middle">
    <h3 class="section-title">Promo Products</h3>
     <div class="section_subtitle">
        You may like Our best collections
    </div>
  </span>

  <!-- Slider-Section-Strat  -->
  <div class="slider_area">
    <div class="fullwidthbanner">
      <div class="swiper-container" [swiper]="swiperConfig">
        <div class="swiper-wrapper">
          <div *ngFor="let slide of slides" class="swiper-slide">
            <div class="content">
              <a [routerLink]="['/products/'+slide.category_id+'/'+slide.id]"><img width="320px" height="320px"
                  src="{{sanitize_img_url(imagepath+'/'+slide.id+'/'+slide.image_one)}}" /></a>
              <div class="row">
                <div class="col-md-12">
                  <p class="product_title">
                    <a id="pp3_slide_para" [routerLink]="['/products/'+slide.category_id+'/'+slide.id]">{{slide.name}}</a>
                  </p>
                </div>
                    
                    <div class="col-md-12" style="padding-left:20px"> 
                      <a [routerLink]="['/products/'+slide.category_id+'/'+slide.id]">
                        <span class="offer_price"> <i class="fa fa-inr"></i> {{slide.prices[0].offer_price}}</span> &nbsp;
                        <span class="full_price"> <i class="fa fa-inr"></i> {{slide.prices[0].price}}</span>
                      </a>

                      <a [routerLink]="['/products/'+slide.category_id+'/'+slide.id]">
                        &nbsp;<span class="per_off_prc">{{slide.prices[0].offer}}% Off</span>
                      </a>
                    </div>
                      <!-- <div class="col-md-5 bdpcol1">
                        <a [routerLink]="['/products/'+slide.category_id+'/'+slide.id]">
                        <p>{{slide.prices[0].offer}}% Off</p>
                      </a>
                     </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider-Section-End  -->

</div>
</div>