<!-- Cart-Page-Content-Start -->
<div class="cart-page-content page-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cart_title">
          <h4>Wishlist</h4>
        </div>
        <div class="table-responsive">          
          <ng-template #empty_wishlist>  <p>Wishlist is empty...</p> </ng-template>
          <table *ngIf="items!=undefined||items!=null; else empty_wishlist" class="cart-table text-center">
            <thead>
              <tr id="cart_th">
                <th>#</th>
                <th>Image</th>
                <th>Product name</th>                
                <th>Price</th>                
                <th>Remove</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let item of items;index as i">
                <td>{{i+1}}</td>
                <td>
                  <a [routerLink]="['/products/'+item.category_id+'/'+item.id]">
                    <img alt="" class="img-responsive" [src]="image_path+item.id+'/'+item.image_one">
                  </a>
                </td>
                <td>
                  <h6>
                    <a [routerLink]="['/products/'+item.category_id+'/'+item.id]">
                      {{item.name}}
                    </a>
                  </h6>
                </td>                               
                <td> 
                  <div *ngIf="item.prices" class="cart-subtotal">₹{{item.prices[0].offer_price}}</div>
                </td>
                <td><i (click)="removeFrmList(item.wishlistid)" class="fa fa-trash"></i></td>
              </tr>              
              <tr id="total_colspan">
                <td colspan="2" class="text-left">total</td>
                <td>
                  {{items.length}} items
                </td>
                <td>
                  
                </td>
                <td colspan="2">
                  <a class="checkPageBtn" href="#">add all to cart</a>
                </td>
              </tr>
            </tbody>
            
          </table>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart-Page-Content-End -->