<!-- Product-Section-Strat  -->

<section *ngIf="product!=undefined" class="product_area">
    <div class="col-md-5 col-sm-5 col-xs-12">
      <div class="col-sm-3">
        <ul class="prod-img-thumbs">
          <li [ngClass]="{'active':thumb_index==1}" (click)="thumb(1)" *ngIf="product.image_one!=''"><img
              [src]="img_root+product.id+'/'+product.image_one" alt=""></li>
          <li [ngClass]="{'active':thumb_index==2}" (click)="thumb(2)" *ngIf="product.image_two!=''"><img
              [src]="img_root+product.id+'/'+product.image_two" alt=""></li>
          <li [ngClass]="{'active':thumb_index==3}" (click)="thumb(3)" *ngIf="product.image_three!=''"><img
              [src]="img_root+product.id+'/'+product.image_three" alt=""></li>
          <li [ngClass]="{'active':thumb_index==4}" (click)="thumb(4)" *ngIf="product.image_four!=''"><img
              [src]="img_root+product.id+'/'+product.image_four" alt=""></li>
        </ul>
      </div>
      <div class="col-sm-9">
        <div class="main-thumb-container">
          <img 
          *ngIf="thumb_index==1" 
          class="zoom_image" 
          [windowPosition]="1" 
          [lensStyle]='"WINDOW"' 
          [minZoomLevel]='0.1'
          [imageZoom]="img_root+product.id+'/'+product.image_one" 
          [src]="img_root+product.id+'/'+product.image_one">
          <img *ngIf="thumb_index==2" class="zoom_image"   [minZoomLevel]='0.1' [imageZoom]="img_root+product.id+'/'+product.image_two"
            [src]="img_root+product.id+'/'+product.image_two"  >
          <img *ngIf="thumb_index==3" class="zoom_image"   [minZoomLevel]='0.1' [imageZoom]="img_root+product.id+'/'+product.image_three"
            [src]="img_root+product.id+'/'+product.image_three"   >
          <img *ngIf="thumb_index==4" class="zoom_image"   [minZoomLevel]='0.1' [imageZoom]="img_root+product.id+'/'+product.image_four"
            [src]="img_root+product.id+'/'+product.image_four" >
        </div>      
      </div>
  
      <div class="col-md-12" style="padding-left:0px; text-align:center; padding-top:19px;">
        &nbsp; &nbsp;
        <button (click)="emitCart()" class="btn btn-success buy_btn">Add</button>
      </div>
       <br>
       <div class="col-md-12 addr_btm_area" style="text-align:left; padding-left: 17%;">
          <p><i class="fa fa-map-marker"></i>&nbsp;Delivery option all over India</p>
          <p><i class="fa fa-truck"></i>&nbsp;Free delivery : Minimum Purchase &nbsp; <i class="fa fa-inr">&nbsp;499</i> </p>
       </div>
  
  
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12">
        <h5 style="margin-bottom:10px">{{product.name}}</h5>
        <!-- price area -->
         <div class="row">
           <div class="col-md-12 col-sm-12 col-xs-12">
              <span class="act_price"><i class="fa fa-inr"></i>&nbsp; {{selectedPrice['offer_price']}}</span> &nbsp;
              <span class="off_price"><i class="fa fa-inr"></i>&nbsp;{{selectedPrice['price']}}</span> &nbsp;
              <span class="per_off">{{selectedPrice['offer']}}% Off</span>
           </div>
          </div>
        <!-- end of price -->
        
        <div *ngIf="product.prices" class="row product_ctls">
          <mat-card>
            <ul class="product_opts">
              <li>
                <mat-form-field class="size_selector" appearance="outline">
                  <mat-label>Size</mat-label>
                  <mat-select [formControl]='price_index' (selectionChange)="select_price()">
                    <mat-option *ngFor="let price of product.prices;index as i" [value]="i">{{price.size}}
                      {{price.size_measure}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </li>             
            </ul>
          </mat-card>
        </div>
      <p class="product-description" [innerHTML]="sanitizehtm(product.description)"></p>
      <p><i class="fa fa-check-square-o"></i> &nbsp;Cancellation is not accepted once product dispatched</p>
      <p><i class="fa fa-check-square-o"></i> &nbsp;Returs accepted if the product was damaged</p>      
    </div>
  </section>
  
  <!-- Product-Section-End  -->