
<section>
  </section>
  <span *ngIf="prodId">
    <app-combo-product-details (cartEvent)="addToCart($event)" (wishlistEvent)="addToWishList($event.product)" [product]="currentProd">
    </app-combo-product-details>
  </span>
  
  <div *ngIf="!prodId" class="row pro_list_main_row">
  
    <div class="col-md-3 filter_panel">    
      <span class="">
        <mat-accordion>
        </mat-accordion>
      </span>
      <!-- filter by category -->
      <div class="filt_caty card">
        <div class="row row_lft_filt">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <span class="filt_id"><a>Filters</a></span>
            <span *ngIf="toApplyFilters" class="filt_apl"><a class="btn btn-small" (click)="fetchFilteredProducts()" >Apply</a></span>
            <span class="filt_clr"><a class="btn btn-small" (click)="resetFilters()">clear</a></span>
          </div>
        </div>
        <br>      
        <!-- color categories -->
        <div *ngIf="loopable(filterControls['colors'])" class="row lft_selc">
          <h4 style="margin-bottom:10px">Color</h4>
          
            <ul class="ul_chbx_colors">
              <li *ngFor="let color of filterControls['colors']">
                <input class="chck-box" (change)="setFilter($event,color,'colors')" type="checkbox"> <label for="color"
                  [innerHTML]='"&nbsp;"+color'></label>
              </li>
            </ul>
          
        </div>      
        <!-- material categories -->
        <div *ngIf="loopable(filterControls['material'])" class="row mat_selc">
          <h4 style="margin-bottom:10px">Material</h4>
          <ul>          
            <li *ngFor="let material of filterControls['material'];index as i">
              <input class="chck-box" [checked]="inFilter('material',material)" (change)="setFilter($event,material,'material')" type="checkbox"> <label for="color" [innerHTML]='"&nbsp;"+material'> </label>
            </li>
          </ul>
        </div>      
      </div>
    </div>
    <!-- end of filter area -->
  
  
    <div  class="col-md-9 card" id="pro_list_itm_area">
      <div class="row" id="pro_lis_top_div">      
        <h4 [innerHTML]="'Choose '+offerTitle"></h4>
      </div>
      <div class="row" id="pro_lis_top_div2">      
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px">
          <div class="col-md-6 col-sm-6 col-xs-12 product_tab">
            <ul id="menu">            
              <li 
              *ngFor='let type of getTypes(catId)' 
              [ngClass]="{'active':selectedType==type.id}" 
              (click)="changeProductTypeById(type.id)" 
              class="">
              {{type.name}}
            </li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12" id="sel_bx_d6">
            <a id="sort_by">Sort By</a> &nbsp;
            <select (change)="changeSortField()"  [(ngModel)]="sortField" >
              <option value="select">Select</option>
              <option value="latest">Latest</option>
              <option value="popular">Popular</option>
              <option value="ltoh">Low to High</option>
              <option value="htol">High to Low</option>
            </select>
          </div>
        </div>
      </div>
      <span *ngIf="products;else noprodsav" (wheel)="fetchMore()">
        <span *ngFor="let product of products" class="product_wrapper">
          <div *ngIf="validProduct(product)" class="col-md-3 product_card_wrapper">
            <!-- start of card area -->
            <mat-card class="product_card">
              <!-- wishlist button area -->
              <button class="fav-button" (click)="addToWishList(product)" title="Add to Wishlist" mat-icon-button>
                <mat-icon style="font-size:16px">favorite</mat-icon>
                <!-- <i style="font-size:16px;" class="fa fa-heart unwished"></i> -->
              </button>
              <!-- end of wishlist -->
              <!-- img link with url -->
              <!-- <img mat-card-image [routerLink]='"/products/"+catId+"/"+product.id'
                          [src]="image_path+'/'+product.id+'/'+product.image_one" [alt]="product.name"> -->
              <!-- img button to display details -->
              <img mat-card-image (click)="openProdDetails(product)" [src]="image_path+'/'+product.id+'/'+product.image_one"
                [alt]="product.name">
              <mat-card-content>
                <mat-card-content class="product-name">{{product.name}}</mat-card-content>
      
                <mat-card-subtitle *ngIf="validPrice(product.prices)">
                  <div class="row pric_row">
                    <span class="pricing price_offer" [innerHTML]="'₹'+product.prices[0].offer_price"></span> &nbsp;
                    <span class="pricing price_og" [innerHTML]="'₹'+product.prices[0].price"></span> &nbsp;
                    <span class="pricing price_discount" [innerHTML]="product.prices[0].offer+'% off'"></span>
                  </div>
                </mat-card-subtitle>
              </mat-card-content>
            </mat-card>
          </div>
        </span>
       
      
      </span>
      
      <div class="v-spacer"></div>
      <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6" (wheel)="fetchMore()">
          <h5 class="more-prod" *ngIf="products">
            <a class="more-btn" (click)="fetchMore()" *ngIf="isMoreProd">
              <i class="fa fa-refresh" aria-hidden="true"></i>
              More Products
            </a>          
          </h5>
        </div>
        <div class="col-md-3"></div>
      </div>
  
    </div>
    <ng-template #noprodsav>
      <p>No Products matching your criterria have been found. Try resetting the filters or try other tabs. </p>
    </ng-template>
  
  </div>