@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.swiper-container {
  width: 100%;
  height: 100%;
}
.main-thumb-container{
  width: 100%;
  height: 100%;
  margin-top: 15%;
  float: right;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.zoom_image {
  // max-width: 234px;
  // max-height:234px;
  max-width: 400px;
  max-height:400px;
  
}
image-zoom-container{
  position: initial;
}
div.product_ctls {
  padding: 15px;
}
ul.price_list,
ul.action-btns,
ul.product_opts {
  display: flex;
  list-style-type: none;
}
ul.price_list li,
ul.action-btns li,
ul.product_opts li {
  margin-left: 10px;
  flex-grow: 1;
}
ul.price_list li.full_price {
  text-decoration: line-through;
  font-size: medium;
}
.pricebar_text,
ul.price_list li.full_price {
  color: rgb(235, 235, 235);
}
ul.price_list li.offer_price {
  font-size: large;
}
ul.price_list li.offer {
  font-size: small;
  color: rgb(233, 30, 99);
}
input.qty_ctr {
  width: 60px;
  padding-bottom: 30px;
  font-size: small;
  text-align: center;
}
ul.prod-img-thumbs {
  margin-top: 50%;
  padding-top: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-right: 1px;
}
ul.prod-img-thumbs li {
  margin: 5px 0;
  border-width: thin;
  border-color: rgb(128, 126, 126);
  border-style: solid;
}
ul.prod-img-thumbs li.active {  
  border-width: thick;
  border-color: rgb(237, 4, 126);  
}
ul.prod-img-thumbs li img {
  max-width: 70px;
  max-height: 70px;
  margin: 5px 0;
}

.product_text p {
  width: 90%;
}
.size_selector {
  font-family: 'Montserrat-Regular','sans-serif';
  max-width: 92px;
}
@media only screen and (max-width: 600px) {
  ul.product_opts {
    // display: contents;
  }
  ul.prod-img-thumbs {
    margin-top: 0;
    padding-top: 0;
    margin-left: 20px;
    float: none;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}
.mat-mini-fab:not([class*='mat-elevation-z']) {
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}
.qty_show_itm{
  
}
mat-card{
 // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
}
.product-description{
  //font-family: 'Roboto Condensed', sans-serif;
  font-family: nexa_bookregular;
  color: #000000;
}
.product-description div b u {
  padding-top: 10px;
  padding-bottom: 10px;
}
// --------------styles for  buttons----------------
.pro_btn, .buy_btn{
  border-radius: 60px;
  font-size: 16px;
  line-height: 16px;
  transition: all 0.15s ease-in-out;
  width: 150px;
  height: 45px;
  margin-right: 10px;
}
  .btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.btn-primary:hover{
  color: #fff;
  background-color: #ED047E;
  border-color: #ED047E;
}
.btn-success:hover{
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.btn-success{
color: #fff;
background-color: #ED047E;
border-color: #ED047E;
}
.addr_btm_area{
  margin-top: 60px;
}
.addr_btm_area p{
  font-family: 'Montserrat', sans-serif;
}
.act_price{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color:black;
  font-weight: bold;
}
.off_price{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #676363;
  font-weight: bold;
  text-decoration: line-through;
}
.per_off{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color:black;
}
button.fav-button{
  background-repeat: no-repeat;    
  background-image:url(/assets/images/staranimation.gif);
  background-position: 7px 10px;
  background-size: 24px;
}