div.filter_panel {
  padding-bottom: 15px;
  /*  position: absolute;
  z-index: 1;
  transform: rotateZ(-90deg);
  left: -3px;
  float: left; */
}
.ng-star-inserted {
  padding-top: 0px;
}
.product_card_wrapper {
  margin-bottom: 2px;
  margin-bottom: 5px;
}
.product_card {
  max-width: 400px;
  height: 365px;
}
.product_card button.fav-button {
  float: right;
  // background-image:"url(assets/images/staranimation.gif)";
  background-repeat: no-repeat;
  
  background-position: top;
  background-image:url(/assets/images/staranimation.gif);
  background-position: 5px 4px;
  background-size: 24px;

}
.product_card img {
  max-width: inherit;
  height: 250px;
  // max-height: 286px;
  margin-bottom: 20px;
  width: 100%;
}
.mat-card-image {
  margin: 0px !important;
}
.product-name {
  font-size: 85%;
}
.sort-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
h5.more-prod {
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}
.sort-radio-button {
  margin: 5px;
}
.pricing {
  margin-right: 5px;
}
.price_offer {
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.price_og {
  text-decoration-line: line-through;
  color: #878787;
}
@media only screen and (min-width: 600px) {
  span.fixed_filter_panel {
    position: fixed;
    top: 30%;
  }
}
@media only screen and (max-width: 600px) {
  // .price_discount[_ngcontent-vdj-c9] {
  //   padding-left: 175px;
  //  }
}
.fav-button {
  color: #635d5d;
  stroke: transparent;
  // opacity:.2;
}
.price_discount {
  //float:right;
  color: #2a6f2c;
}
.price_offer {
  //color:#02d000;
  padding-left: 15px;
}
.price_og {
  //color:#af0000;
}
mat-card-subtitle {
  position: absolute;
  bottom: 16px;
  padding-bottom: 5px;
}
.price_discount {
  // float: right;
  // position: absolute;
  // right: -150px;
}
.mat-card-content > :first-child,
.mat-card > :first-child {
  margin-top: 0;
  height: 30px !important;
  overflow: hidden;
  padding-right: 15px;
  padding-left: 15px;
}
.spn_fil_res {
  color: #ed047e;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 2px solid;
  margin-right: 10px;
}
.mat-form-field {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 150px !important;
  overflow: hidden;
}
.pro_list_main_row {
  // background: aliceblue;
}
#pro_list_itm_area {
  padding-left: 0px;
  padding-right: 10px;
  background: white;
  margin-bottom: 20px;
}
.unwished {
  color: black;
}
.v-spacer {
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 20px;
  //background: aliceblue;
}
.mat-card:not([class*="mat-elevation-z"]):hover {
  /* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}
.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 0px !important;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s;
}
.ng-star-inserted {
  padding-right: 1px;
  padding-left: 1px;
}
mat-card-subtitle {
  padding-right: 15px;
  padding-left: 15px;
}
.pric_row {
  padding-right: 15px;
  padding-left: 15px;
}
#pro_lis_top_div {
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  padding-top: 0px;
}
#pro_lis_top_div h4 {
  color: black;
  padding: 10px;
  font-weight: bold;
  font-family: "Montserrat";
}
#pro_lis_top_div2 {
  border-bottom: 1px solid #ddd;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 15px;
  color: black;
}
.product_tab {
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}
#pro_lis_top_div2 {
  margin: 0px;
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
}
#menu li {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat";
  padding-bottom: 4px;
}
#menu .active {
  border-bottom: 3px solid #ed047e;
}
#sort_by {
  font-size: 14px;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
}
select {
  height: 20px;
}
select option {
  font-family: inherit;
  font-size: 13px;
}
#sel_bx_d6 {
  text-align: right;
}
.filt_caty {
  margin-right: 10px;
  margin-left: 10px;
}
.row_lft_filt {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: 1px solid #ddd;
}
.filt_id a {
  font-size: 24px;
  font-family: "Montserrat";
}
.filt_apl a {
  font-family: "Montserrat";
  float: right;
  color: #fff;
  background-color: #ed047e;
  border-color: #ed047e;
}
.filt_clr a {
  font-size: initial;
  font-family: "Montserrat";
  float: right;
  color: #ed047e;
}
.row h4 {
  color: #635d5d;
  font-family: "Montserrat";
  font-weight: 700;
}
.chck-box {
  height: 17px;
  width: 18px;
  background-color: #fff;
  border: 1.4px solid #c2c2c2;
}
.lft_selc {
  margin-right: 0px;
  margin-left: 0px;
  padding: 20px;
  padding-top: 0px;
  border-bottom: 1px solid #ddd;
}
.mat_selc {
  margin-right: 0px;
  margin-left: 0px;
  padding: 20px;
}
label {
  font-family: "Montserrat";
}
.ul_chbx_colors {
  height: 60px;
  overflow: auto;
  max-height: 200px;
}
