
<section>
</section>

<span *ngIf="prodId">  
  <app-product 
  (cartEvent)="addToCart($event)"   
  (wishlistEvent)="addToWishList($event.product)"    
  [product]="currentProd"
  [wishlistFlag]="currentProd?wishlistFlags[''+currentProd.id]:'no'">
  </app-product>
</span>

<div *ngIf="!prodId" class="row pro_list_main_row">

  <div class="col-md-3 filter_panel">    
   
    <!-- filter by category -->
    <div class="filt_caty card">
      <div class="row row_lft_filt">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <span class="filt_id"><a>Filters</a></span>
          <span *ngIf="toApplyFilters" class="filt_apl"><a class="btn btn-small" (click)="fetchFilteredProducts()" >Apply</a></span>
          <span class="filt_clr"><a class="btn btn-small" (click)="resetFilters()">clear</a></span>
        </div>
      </div>
      <br>      
      <!-- color categories -->
      <div *ngIf="loopable(filterControls['colors'])" class="row lft_selc">
        <h4 style="margin-bottom:10px">Color</h4>
        
          <ul class="ul_chbx_colors">
            <li *ngFor="let color of filterControls['colors']">
              <input class="chck-box" (change)="setFilter($event,color,'colors')" type="checkbox"> <label for="color"
                [innerHTML]='"&nbsp;"+color'></label>
            </li>
          </ul>        
      </div>      
      <!-- material categories -->
      <div *ngIf="loopable(filterControls['material'])" class="row mat_selc">
        <h4 style="margin-bottom:10px">Material</h4>
        <ul>          
          <li *ngFor="let material of filterControls['material'];index as i">
            <input class="chck-box" [checked]="inFilter('material',material)" (change)="setFilter($event,material,'material')" type="checkbox"> <label for="color" [innerHTML]='"&nbsp;"+material'> </label>
          </li>
        </ul>
      </div>      
    </div>
  </div>
  <!-- end of filter area -->
  <div  class="col-md-9 card" id="pro_list_itm_area">
    <div class="row" id="pro_lis_top_div">      
      <h4 [innerHTML]="currentCat['name']"></h4>
    </div>
    <div class="row" id="pro_lis_top_div2">      
      <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px">
        <div class="col-md-6 col-sm-6 col-xs-12 product_tab">
          <ul id="menu">            
            <li 
            *ngFor='let type of getTypes(categoryID)' 
            [ngClass]="{'active':selectedType==type.id}" 
            (click)="changeProductTypeById(type.id)" 
            class="">
            {{type.name}}
          </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" id="sel_bx_d6">          
          <a style=" font-family: Montserrat-Bold, sans-serif; font-weight: 400;" id="sort_by">
            <b style="    
                      font-weight: bolder;
                      font-size: 13px;
                  ">Sort By</b>
          </a> &nbsp;
          <select  matNativeControl style="
          padding: 2px 5px;
          text-transform: none;
          /* margin: 0; */
          font-family: Montserrat-Regular;
          font-size: inherit;
          line-height: inherit;
          height:25px;
      "  (change)="changeSortField()"  [(ngModel)]="sortField" >
            <option value="select">Select</option>
            <option value="latest">Latest</option>
            <option value="popular">Popular</option>
            <option value="ltoh">Low to High</option>
            <option value="htol">High to Low</option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="products;else noprodsav" (wheel)="fetchMore()">
      <div *ngFor="let product of products" class="col-md-3 product_card_wrapper">
        <!-- start of card area -->
        <mat-card *ngIf="validProduct(product)" class="product_card">
          <!-- wishlist button area -->
          <button class="fav-button" (click)="addToWishList(product)" title="Add to Wishlist" mat-icon-button>
              <div style="              
              float: right;"
              [@wishlisting]="wishlistFlags[product.id]?wishlistFlags[product.id]:'no'"
              class=" fa fa-heart unwishitem "></div>
              
            <!-- <mat-icon style="
            color: #8b8b8b;
            font-size: 16px;
            float: right;">favorite</mat-icon> -->
            <!-- <i style="font-size:16px;" class="fa fa-heart unwished"></i> -->
          </button>
          <!-- end of wishlist -->
          <!-- img link with url -->
          <img mat-card-image [routerLink]='"/products/"+categoryID+"/"+product.id'
            [src]="image_path+'/'+product.id+'/'+product.image_one" [alt]="product.name">
            <!-- img button to display details -->
          <!-- <img mat-card-image (click)="openProdDetails(product)" 
            [src]="image_path+'/'+product.id+'/'+product.image_one" [alt]="product.name"> -->
          <mat-card-content>
            <mat-card-content class="product-name">{{product.name}}</mat-card-content>
    
            <mat-card-subtitle *ngIf="validPrice(product.prices)">
              <div class="row pric_row">
                <span class="pricing price_offer" [innerHTML]="'₹'+product.prices[0].offer_price"></span> &nbsp;
                <span class="pricing price_og" [innerHTML]="'₹'+product.prices[0].price"></span> &nbsp;
                <span class="pricing price_discount" [innerHTML]="product.prices[0].offer+'% off'"></span>
              </div>
            </mat-card-subtitle>
          </mat-card-content>          
        </mat-card>
      </div>
    
    </div>
    
    <div class="v-spacer"></div>
    <div class="col-md-12">
      <div class="col-md-3"></div>
      <div class="col-md-6" (wheel)="fetchMore()">
        <h5 class="more-prod" *ngIf="products">
          <a class="more-btn" (click)="fetchMore()" *ngIf="isMoreProd">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            More Products
          </a>          
        </h5>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div>
  <ng-template #noprodsav>
    <p>No Products matching your criterria have been found. Try resetting the filters or try other tabs. </p>
  </ng-template>

</div>