<!-- Review-Section-Strat  -->
<section class="review_area section-padding">
  <div class="container">
    <div class="review_text text-center">
      <div class="review_title">
        <h2>CUSTOMER REVIEW</h2>
      </div>
      <div id="review_carousel_1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators slider_indicators">
          <li data-target="#review_carousel_1" data-slide-to="0" class="active"></li>
          <li data-target="#review_carousel_1" data-slide-to="1"></li>
          <li data-target="#review_carousel_1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="single_review">
              <img src="assets/images/review/person1.jpg" alt="" />
              <h5><a href="#">Michelle Wilson</a></h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the
                industry's</p>
              <div class="review_line"></div>
              <div class="review_icon">
                <i>“</i>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="single_review">
              <img src="assets/images/review/person2.jpg" alt="" />
              <h5><a href="#">Michelle Wilson</a></h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the
                industry's</p>
              <div class="review_line"></div>
              <div class="review_icon">
                <i>“</i>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="single_review">
              <img src="assets/images/review/person3.jpg" alt="" />
              <h5><a href="#">Michelle Wilson</a></h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the
                industry's</p>
              <div class="review_line"></div>
              <div class="review_icon">
                <i>“</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Review-Section-End  -->