<!-- Slider-Section-Strat  -->

<div class="slider_area">  
  <div class="fullwidthbanner">
    <div class="swiper-container" [swiper]="swiperConfig">

      <div class="swiper-wrapper">
         <div *ngFor="let slide of slides" class="swiper-slide">
          <div class="content">
            <a [routerLink]="['/products/'+slide.category_id]">
              <img class='homepage_banner_img' src="{{sanitize_img_url(imagepath+slide.image_path)}}" />
            </a>
          </div>
        </div> 
      </div>
          <div class="swiper-button-prev" (click)="prev()"></div>
          <div class="swiper-button-next" (click)="next()"></div> 
    </div>
  </div>
</div>
<!-- Slider-Section-End  -->