.swiper-container {
  width: 100%;
}
.swiper-button-prev,.swiper-button-next{
  background-size: 70%;
}
.mat-button{
  font-size: 50px;
  font-family: Montserrat-Regular, sans-serif;
  color: #3f51b5;
  //position: absolute;
  //top:180px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;  
}
@media only screen and (min-width: 600px) {
  .swiper-slide {    
   // min-height: 480px;
  }
  img.homepage_banner_img {
    height: 400px;
    width: 100%;
  }
}
.swiper-button-prev{
   color:#5A92AE;

}
.swiper-button-next{
  color:#5A92AE;
}