<!-- Cart-Page-Content-Start -->
<div class="cart-page-content page-section-padding">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="cart_title">
					<h4>Shopping Cart</h4>
				</div>
				<mat-vertical-stepper #stepper>
					<mat-step [stepControl]="firstFormGroup">
						<ng-template matStepLabel>Review Cart</ng-template>
						<div class="table-responsive">
							
							<ng-template #empty_cart>
								<p>Add some products to cart...</p>
							</ng-template>
							<ng-template #empty_combo_cart>
								<p>Try out some combos...</p>
							</ng-template>
							<table 
								class="cart-table text-center">
								<thead>
									<tr id="cart_th">
										<th>#</th>
										<th>Image</th>
										<th>Product name</th>
										<th>QUANTITY</th>
										<th>Price</th>
										<th>Total</th>
										<th>Remove</th>
									</tr>
								</thead>
								<tbody *ngIf="validCart(items)||validCart(combos); else empty_cart">
									
										<tr *ngFor="let item of items;index as i">
									
											<td>{{i+1}}</td>
											<td>
												<a [routerLink]="['/products/'+item.category_id+'/'+item.id]">
													<img alt="" class="img-responsive"
														[src]="image_path+item.productInfo.id+'/'+item.productInfo.image_one">
												</a>
											</td>
											<td>
												<h6>
									
													<a [routerLink]="['/products/'+item.productInfo.category_id+'/'+item.product_id]">
														{{item.productInfo.name}}
													</a>
												</h6>
									
											</td>
											<td>
												<input type="number" [(ngModel)]="item.quantity" name="quantity" min="1" max="5">
											</td>
											<td>
												<div class="cart-price">₹{{getUnitPrice(item)}}</div>
											</td>
											<td>
												<div class="cart-subtotal">₹{{getSubtotal(item)}}</div>
											</td>
											<td><i (click)="removeFrmCart(item.id)" class="fa fa-trash"></i></td>
										</tr>
									
									<tr>
										<td colspan='7'>
											<h4>Combos</h4>
										</td>
									</tr>
									
										<tr *ngFor="let combo of combos;index as i">
											<td colspan="1">{{i+1}}</td>
											<td colspan="5">
												<div class="row pos-relative">
													<div class="col-md-1 text-center lineheight "><span class="cartclose_btn" data-toggle="modal"><i
																class="fa fa-times" style="font-size: 20px;color: red; cursor: pointer;"></i></span>
														<!---->
													</div>
													<div class="col-md-9">
														<div class="row">
															<!---->
															<div *ngFor="let product of combo['products']" class="col-sm-4 col-xs-12 border_right ">
																<div class="cart-img-product ">
																	<img alt="IMG-PRODUCT" class="" [src]="image_path+'/'+product.id+'/'+product.image_one">
																</div>
																<p [innerText]="product['name']"></p>
															</div>
									
														</div>
													</div>
													<div class="col-sm-2 rupies text-center"><i class="fa fa-inr"></i> {{combo.cartinfo.price}}</div>
												</div>
											</td>
											<td colspan="1"><i (click)="removeComboFrmCart(combo.cartinfo.id)" class="fa fa-trash"></i></td>
										</tr>
									

									<tr id="total_colspan">
										<td colspan="3" class="text-left">total</td>
										<td>
											{{count()}} items
										</td>
										<td>
											Total: ₹{{cartTotal()|json}}
										</td>
										<td colspan="2">
											<button mat-button matStepperNext class="checkPageBtn"
												href="#">Proceed</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</mat-step>
					<mat-step [stepControl]="addressForm">
						<div class="col-md-6">
							<mat-card>
								<mat-card-header>Add New Address</mat-card-header>
								<form [formGroup]="addressForm">
									<ng-template matStepLabel>Choose address</ng-template>
									<mat-form-field>
										<textarea matInput placeholder="Address" formControlName="address" required></textarea>
									</mat-form-field>
								</form>
							</mat-card>
						</div>
						<div class="col-md-6">
							<mat-card>
								<mat-card-header>Select Existing</mat-card-header>
								<mat-radio-group class="address-selector" aria-label="Select an option">
									<mat-radio-button *ngFor="let addr of userAddrs" [value]="addr.id">
										<div class="col-md-12">
											<b><i class="fa fa-address-card" aria-hidden="true"></i>:</b> {{addr.name}}
										</div>
										<div class="col-md-12">
											<b><i class="fa fa-mobile" aria-hidden="true"></i>:</b> {{addr.mobile}}
										</div>
										<div class="col-md-12">
											<b><i class="fa fa-map-marker" aria-hidden="true"></i>:</b> {{addr.address}}
										</div>
									</mat-radio-button>									
								</mat-radio-group>
							</mat-card>
						</div>
						<div class="col-md-12">
							<button mat-button mat-stroked-button matStepperPrevious>Back</button>
							<button mat-button mat-stroked-button matStepperNext>Next</button>
						</div>



					</mat-step>
					<mat-step>
						<ng-template matStepLabel>Choose Payment Method</ng-template>
						You are now done.
						<div>
							<button mat-button matStepperPrevious>Back</button>
							<button mat-button (click)="stepper.reset()">Reset</button>
						</div>
					</mat-step>
				</mat-vertical-stepper>

			</div>
		</div>
	</div>
</div>
<!-- Cart-Page-Content-End -->