.footer_top {
    background: #F1F3F6 none repeat scroll 0 0;
    padding-top:30px !important;
    padding: 10px 0;
}
.footer_link p{
    
    font-size: 15px;
    color: #f9f9f9;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
}
.footer_link li a{
    color: #c7c7c7;
    line-height: 1.8;
}
.footer_bottom{
    padding-bottom: 0px;
    padding-top: 10px;
}