<!-- Footer-Section-Start -->
<footer>
  <div class="footer_top footer-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-sm-6">
         
        </div>
        <div class="col-sm-12 col-sm-6">
          
        </div>
      </div>
    </div>
  </div>
  <div class="footer_middel footer-padding">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-md-3">
          <div class="footer_link">
            <p>Tovick Store</p>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="cart.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="footer_link res_mar">
            <p>customer service</p>
            <ul>
              <li><a href="#">Track Order</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Cancellation</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms And Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="footer_link res_mar">
            <p>Our App</p>
            <ul>
              <li><a href="https://play.google.com/store/apps/details?id=com.tovick.store"><img
                    src="assets/images/get-it-on-google-play-vector-200x200.png"
                    alt=""></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="footer_link footer_icon res_mar">
            <p>Follow Us</p>
            <ul>
              <li><a href="https://www.facebook.com/TovickStore/?epa=SEARCH_BOX" style="background: #173271 none repeat scroll 0 0;"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="https://www.instagram.com/tovickstore/" style="background: #CA1581 none repeat scroll 0 0;"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom footer-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="copyright">
            <p>Copyright 2015 <a href="http://tovick.com/">Tovick Store</a> All rights reserved</p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="copyright_icon text-right">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer-Section-End -->