div.button-list{
  float: right;  
  font-size: 50px;
  
}

div.slider_area{
  background: #f1f3f6;
}
.button-list button{
  font-size: 50px;
  font-family: Montserrat-Regular, sans-serif;
  padding:0 8px;
  min-width:12px;

}
.swiper-container {
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/logo/icon-mountain.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 2%;
}
.swiper-wrapper{
  transition-duration: 0ms;
  transform: translate3d(20.125px, 0px, 0px) !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.section-title{
  text-align: left;
  color: #085d86;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-top:10px;
  padding-left:5px;
}
.button-list{
  text-align: right;
}