<!-- Slider-Section-Strat  -->
<div class="slider_area">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-6 col-sm-6 col-xs-6 middle">
          <h3 class="section-title">Combo Offers</h3>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 button-list">
      <button mat-button color="primary" (click)="prev()">
          ‹ 
      </button> 
      <button mat-button color="primary" (click)="next()">
          ›
      </button>
      </div>
    </div>
  </div>
  <div class="fullwidthbanner">
    <div class="swiper-container" [swiper]="swiperConfig">
      <div class="swiper-wrapper">
        <div *ngFor="let slide of slides" class="swiper-slide">
          <div class="content" [style]="get_slide_bg_style(imagepath+slide.offer.image_path)">
            <a [routerLink]="'/combo/'+slide.offer.id">
              <img class="combo_banner_img" src="{{sanitize_img_url(imagepath+slide.offer.image_path)}}" />
            </a>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Slider-Section-End  -->