/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

/*------------------------------------------------------------------
[Master Stylesheet]

Template Name: Elixir Fashion Ecommerce Template
Template URI: http://designscrazed.org/
Description: This is Elixir Fashion Ecommerce Template
Author: Allie
Author URI:
Version: 1.0

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. Body
	[2. Header ]
		[2.1 Header-Top ]
			[2.1.1 Header-Top-Left ]
				[2.1.1.1 Header-Social-Icon ]
				[2.1.1.2 Header-Other-Icon ]
			[2.1.2 Header-Top-Right ]
		[2.2 Mainmenu ]
	[3. Slider-Section ]
	[4. Product-Section ]
		[4.1 Left-Product ]
		[4.2 Right-Product ]
	[5. Choose-Section ]
		[5.1 Choose-Text ]
	[6. Review-Section ]
		[6.1 Review-Text ]
	[7. Compare-Section ]
		[7.1 Compare-Menu ]
		[7.2 Compare-Guarantee ]
		[7.3 Compare-Tech-Table ]
		[7.4 Compare-Disclaimer ]
	[8. Footer-Section ]
		[8.1 Footer-Top ]
		[8.2 Footer-Middel ]
			[8.2.1 Footer-Link ]
		[8.3 Footer-Bottom ]
[ Checkout Page ]
	[1. Checkout-Section ]
		[1.1 Panel-Sauget-Accordion ]
		[1.2 Panel-Text ]
		[1.3 Checkout-Form ]
		[1.4 CheckPageBtn ]
[ Cart Page ]
[ Contact Page ]
	[1. GoogleMap ]
	[2. Contact-Us ]
/*-------------------------------------------------------------------*/
$primary-color: rgb(57, 74, 95);

/*============ fonts ==========*/
@font-face {
  font-family: "nexa_bookregular";
  src: url("assets/fonts/nexa-book.eot");
  src: url("assets/fonts/nexa-book.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/nexa-book.woff2") format("woff2"), url("assets/fonts/nexa-book.woff") format("woff"),
    url("assets/fonts/nexa-book.ttf") format("truetype"),
    url("assets/fonts/nexa-book.svg#nexa_bookregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nexa_regularregular";
  src: url("assets/fonts/nexaregular.eot");
  src: url("assets/fonts/nexaregular.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/nexaregular.woff2") format("woff2"), url("assets/fonts/nexaregular.woff") format("woff"),
    url("assets/fonts/nexaregular.ttf") format("truetype"),
    url("assets/fonts/nexaregular.svg#nexa_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nexa_xboldregular";
  src: url("assets/fonts/nexa-xbold.eot");
  src: url("assets/fonts/nexa-xbold.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/nexa-xbold.woff2") format("woff2"), url("assets/fonts/nexa-xbold.woff") format("woff"),
    url("assets/fonts/nexa-xbold.ttf") format("truetype"),
    url("assets/fonts/nexa-xbold.svg#nexa_xboldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nexa_blackregular";
  src: url("assets/fonts/nexablack.eot");
  src: url("assets/fonts/nexablack.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/nexablack.woff2") format("woff2"), url("assets/fonts/nexablack.woff") format("woff"),
    url("assets/fonts/nexablack.ttf") format("truetype"),
    url("assets/fonts/nexablack.svg#nexa_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nexa_boldregular";
  src: url("assets/fonts/nexa-bold.eot");
  src: url("assets/fonts/nexa-bold.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/nexa-bold.woff2") format("woff2"), url("assets/fonts/nexa-bold.woff") format("woff"),
    url("assets/fonts/nexa-bold.ttf") format("truetype"),
    url("assets/fonts/nexa-bold.svg#nexa_boldregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*============= Flaticon ===========*/
@font-face {
  font-family: "Flaticon";
  src: url("assets/fonts/flaticon.eot");
  src: url("assets/fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("assets/fonts/flaticon.woff") format("woff"), url("assets/fonts/flaticon.ttf") format("truetype"),
    url("assets/fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('assets/fonts/Montserrat-Regular.ttf'); 
}
@font-face {
  font-family: Montserrat-Bold;
  src: url('assets/fonts/Montserrat-Regular.ttf'); 
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}
.flaticon-lightbulbs:before {
  content: "\e000";
}
.flaticon-sticker3:before {
  content: "\e001";
}
.flaticon-tshirt17:before {
  content: "\e002";
}
/* =============== Reset Code ================= */
* {
  // transition: all 300ms ease-out 0s;
}
a:focus {
  outline: 0px solid;
  text-decoration: none;
}
ul,
ul li {
  margin: 0;
  padding: 0;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
.product_text p,
.single_review p,
.compare_menu ul li a,
th,
.features_text h5,
.disclaimer h5,
tr td:first-child,
.subscribe_btn,
.footer_link p,
.tp-caption {
  // text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h5,
a,
.header_top_right ul li a:hover,
.mainmenu a:hover,
.choose_text:hover.choose_text i,
.choose_active.choose_text i,
.choose_text:hover.choose_text h5 a,
.choose_active.choose_text h5 a,
.social_icon li a i,
.review_icon i,
.compare_menu ul li a,
th,
.features_text h5,
.disclaimer h5,
.single_features i,
.single_features i.flaticon-lightbulbs,
.single_features i.flaticon-tshirt17,
.disclaimer i,
.newsletter input {
  color: #3a4b60;
}
.social_icon li a:hover i,
.slide_btn:hover,
.shop_now_btn:hover,
.searchbox-open span,
.choose_title h2,
.choose_text h5 a,
.choose_btn .shop_now_btn,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs li a:hover,
.footer_link p,
#scrollUp i,
.dark_product h1,
.footer_link li a,
.address li {
  color: #fff;
}
.header_top_left ul li,
.header_top_right ul li,
.social_icon,
.social_others,
.mainmenu li,
.footer_icon li,
.slide_btn,
.shop_now_btn,
.choose_text,
.choose_text i,
.nav.nav-tabs.items_ul,
button.checkPageBtn,
a.checkPageBtn {
  display: inline-block;
}
.social_icon li a,
.footer_icon li a,
.shop_icon a,
.shop_icon span,
.choose_text i,
.single_review img,
.review_icon {
  border-radius: 50%;
}
.social_icon li a,
.footer_icon li a,
.shop_icon a,
.shop_icon span,
.searchbox-icon,
.searchbox-submit,
.single_product,
#scrollUp,
button.checkPageBtn,
a.checkPageBtn,
#qua_in input,
#qua_in_2 input {
  text-align: center;
}
.main_single_product,
.compare_menu ul li a,
.single_features,
.guarantee_features img,
.disclaimer i,
.news_input {
  float: left;
}
.searchbox {
  float: right;
}
.shop_icon,
.mainmenu a i,
.searchbox,
.shop_icon,
.single_product,
.single_product_two,
.choose_area,
.single_features,
.checkTitle .ct-design,
.sauget-accordion .panel-heading h4 a {
  position: relative;
}
.single_product_two {
  overflow-y: scroll;
  overflow-x: hidden;
}
h1 {
  font-size: 62px;
  line-height: 70px;
  font-family: nexa_blackregular;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  font-family: nexa_xboldregular;
  margin-bottom: 45px;
}
h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  font-family: nexa_regularregular;
  margin-bottom: 40px;
}
p {
  font-size: 14px;
  line-height: 22px;
  font-family: nexa_bookregular;
  color: #263547;
  font-weight: 500;
}
a {
  text-decoration: none;
  transition: all 300ms ease-out 0s;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
}
.section-padding {
  padding: 80px 0;
}
.section-padding-top {
  padding-top: 80px;
}

/*============= ScrollUp =============*/
#scrollUp {
  background-color: #202b30;
  padding: 8px 10px;
  right: 25px;
  text-decoration: none;
  top: 77.6%;
}
#scrollUp:hover {
  opacity: 0.6;
}
/*------------------------------------------------------------------
[1. body ]
--------------------------------------------------------------------*/
body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  background: #fff;
  line-height: 17px;
  margin: 0;
  font-weight: 400;
  padding: 0;
}
/*==========================================
[2. Header ]
===========================================*/
/*-----------------------------------------
[2.1 Header-Top ]
------------------------------------------*/
.header_top {
 // border-bottom: 1px solid #e3e3e3;
}
/*--------------------------------
[2.1.1 Header-Top-Left ]
---------------------------------*/
.header_top_left,
.header_top_right {
 // padding: 10px 0;
}
.header_top_left.float-left {
  position: relative;
  z-index: 2;
}
.header_top_left ul,
.header_top_right ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
/*-------------------------
[2.1.1.1 Header-Social-Icon ]
-------------------------*/
.social_icon li {
  margin-right: 8px;
}
.social_icon li a,
.footer_icon li a,
.shop_icon a {
  background: $primary-color none repeat scroll 0 0;
  display: block;
  height: 25px;
  padding: 5px;
  width: 25px;
}
.social_icon li a i {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.shop_icon span,
.slide_btn:hover,
.shop_now_btn:hover {
  background: #3a4b60;
}
.social_icon li a:hover i {
  opacity: 0.6;
}
/*-------------------------
[2.1.1.2 Header-Other-Icon ]
-------------------------*/
.social_others li a {
  margin-left: 10px;
}
.social_others li {
  margin-left: 10px;
}
.social_others a,
.header_top_right ul li a {
  color: rgb(135, 135, 135);
  font-size: 13px;
  text-transform: inherit;
}
.header_top_right.text-right a,
.shop_icon {
  margin-right: 10px;
}
.social_others a i {
  color: #3a4b60;
  font-size: 15px;
  margin-right: 5px;
}
/*--------------------------------
[2.1.2 Header-Top-Right ]
---------------------------------*/
.header_top_right.text-right li {
  padding-top: 4px;
}
.searchbox {
  height: 35px;
  min-width: 25px;
  overflow: hidden;
  top: -5px;
  transition: width 0.3s ease 0s;
  width: 0;
}
.searchbox-input {
  border: medium none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  height: 32px;
  padding: 0 55px 0 20px;
  right: 0;
  top: 0;
  width: 100%;
  box-shadow: none;
}
li.searchbox.searchbox-open {
  padding-top: 0;
}
.searchbox-input::-webkit-input-placeholder,
.searchbox-input:-moz-placeholder,
.searchbox-input::-moz-placeholder,
.searchbox-input:-ms-input-placeholder {
  color: #3a4b60;
}
.searchbox-icon,
.searchbox-submit {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #3a4b60;
  cursor: pointer;
  display: block;
  font-size: 18px;
  line-height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}
.searchbox-open {
  border: 1px solid #91a0b3;
  border-right: 0px;
  border-radius: 3px;
  width: 110%;
}
.searchbox-open span {
  background: #ed047e;
  transition: width 0.3s ease 0s;
  width: 50px;
  height: 35px;
}
/*-------------------------------
[2.2 Mainmenu ]
--------------------------------*/
.mobile-menu-area {
  display: none;
}
// .mainmenu, .logo {padding: 15px 0;}
.logo a {
  padding: 1px 0;
  display: block;
}
.mainmenu a {
  font-size: 14px;
  line-height: 16px;
  padding: 10px 15px;
  margin-left: 5px;
  color: rgb(135, 135, 135);
}
.shop_icon span {
  font-size: 10px;
  height: 20px;
  padding-top: 2px;
  position: absolute;
  right: -10px;
  top: -3px;
  width: 20px;
}
.shop_icon a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid $primary-color;
  height: 30px;
  padding: 5px !important;
  width: 30px;
}
.mainmenu a i {
  top: 0;
}
.mainmenu a:hover i {
  top: 5px;
}
.guarantee_text p {
  padding-bottom: 20px;
}
.footer_link li {
  margin-bottom: 5px;
}

div .lg-menu-bar-panel,
div .lg-menu-bar-panel button {
  background-color: #3f424b;
  color: #fff;
}
/*==========================================
[3. Slider-Section ]
===========================================*/
.slider_area {
  position: relative;
}
/*==========================================
[4. Product-Section ]
===========================================*/
.product_area {
  overflow: hidden;
}
.main_single_product {
  width: 50%;
}
/*-------------------------------
[4.1 Left-Product ]
--------------------------------*/
.padding_right {
  padding-right: 15px;
}
.single_product {
  border: 15px solid rgb(237, 237, 237);
}
.product_img {
  padding: 50px 70px;
}
.product_img.tre_shirt_3 {
  padding: 70px 90px;
}
.product_img.tre_shirt_2 {
  padding: 90px 20px;
}
.product_text {
  background: rgba(57, 74, 95, 0.75) none repeat scroll 0 0;
  padding: 40px 0;
  position: absolute;
  top: 52%;
  width: 100%;
  margin-top: -72px;
  z-index: 2;
}
/*-------------------------------
[4.2 Right-Product ]
--------------------------------*/
.padding_left {
  padding-left: 15px;
}
.single_product_two::after {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.product_text_two,
.tre_shirt_2_text {
  background: transparent;
  left: 35%;
  margin-left: -177px;
  margin-top: -218px;
  text-align: left;
  padding: 0;
}
.tre_shirt_2_text {
  margin-right: -177px;
  right: 50%;
  text-align: right;
  left: 0;
}
.product_text_two h1 {
  border-bottom: 2px solid #3a4b60;
  margin-bottom: 65px;
}
.product_text p {
  font-size: 20px;
  line-height: 25px;
}
.slide_btn,
.shop_now_btn {
  font-family: "nexa_regularregular";
  font-weight: 500;
}
.shop_now_btn {
  font-size: 16px;
  margin-top: 50px;
  padding: 10px 30px;
  border: 2px solid #3a4b60;
}
/*==========================================
[5. Choose-Section ]
===========================================*/
.choose_area::after {
  background: #3a4b60;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
}
.choose_area {
  background: rgba(0, 0, 0, 0) url("assets/images/choose/choose-bg.jpg") no-repeat fixed center center / cover;
}
/*-------------------------------
[5.1 Choose-Text ]
--------------------------------*/
.choose_area_text,
.choose_btn {
  position: relative;
  z-index: 2;
}
.choose_text {
  border: 1px solid #fff;
  margin-left: 11.37%;
  outline: 1px solid #fff;
  outline-offset: 5px;
  overflow: hidden;
  transition: all 300ms ease-out 0s;
  width: 19.7%;
  padding: 50px 10px;
}
.choose_text:nth-child(2) {
  margin-left: 0;
}
.choose_text i {
  border: 2px solid #fff;
  height: 75px;
  margin-bottom: 25px;
  padding-top: 30px;
  width: 75px;
  font-size: 50px;
}
.choose_text:hover,
.choose_active {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  padding: 30px 10px 115px;
  transition: all 300ms ease-out 0s;
}
.text_p {
  height: 0;
  transform: scale(0);
  transition: all 300ms ease-out 0s;
}
.choose_text.choose_text:hover .text_p,
.choose_active .text_p {
  transform: scale(1);
}
.choose_text:hover.choose_text i,
.choose_active.choose_text i {
  border: 2px solid #3a4b60;
}
.choose_btn .shop_now_btn {
  border: 1px solid #ffffff;
}
.choose_btn .shop_now_btn:hover {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  color: rgb(58, 75, 96);
}
/*==========================================
[6. Review-Section ]
===========================================*/
.review_area {
  border-bottom: 1px solid #e5e5e5;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators li {
  border: 1px solid #3a4b60;
  width: 20px;
  height: 10px;
}
.carousel-indicators .active {
  background: rgb(58, 75, 96) none repeat scroll 0 0;
  height: 10px;
  width: 20px;
  margin: 1px;
}
/*-------------------------------
[6.1 Review-Text ]
--------------------------------*/
.single_review img {
  height: 120px;
  margin-bottom: 45px;
  margin-top: 30px;
  width: 120px;
}
.single_review p {
  letter-spacing: 2px;
  line-height: 26px;
  margin: 0 auto;
  padding-bottom: 30px;
  width: 69%;
}
.review_line {
  background: #3a4b60;
  height: 45px;
  margin: 10px auto;
  width: 2px;
}
.review_icon {
  border: 1px solid #3a4b60;
  height: 40px;
  margin: 0 auto;
  width: 40px;
}
.review_icon i {
  display: block;
  font-family: roboto;
  font-size: 52px;
  font-weight: 500;
  padding: 25px 25px 0 0;
}
/*==========================================
[7. Compare-Section ]
===========================================*/
.compare_title h2 {
  margin-bottom: 15px;
}
.compare_title p {
  margin-bottom: 45px;
}
/*-------------------------------
[7.1 Compare-Menu ]
--------------------------------*/
.compare_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.compare_menu ul li a,
th,
.features_text h5,
.disclaimer h5 {
  font-family: nexa_blackregular;
  font-size: 18px;
  font-weight: 400;
}
.compare_menu ul li a {
  border-left: 2px solid rgb(229, 229, 229);
  border-top: 2px solid rgb(229, 229, 229);
  padding: 20px 15px;
  border-radius: 0;
  margin-right: 0;
  border-bottom: transparent;
  border-right: transparent;
}
.nav-tabs {
  border-bottom: 0;
}
#com_3 {
  border-right: 2px solid rgb(229, 229, 229);
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover {
  border-bottom: none;
  border-left: 2px solid rgb(229, 229, 229);
  border-top: 2px solid rgb(229, 229, 229);
  border-right: transparent;
}
.nav-tabs li {
  margin-bottom: -4px;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover,
.nav-tabs li a:hover {
  background-color: #3a4b60;
}
/*-------------------------------
[7.2 Compare-Features ]
--------------------------------*/
.single_features {
  border: 2px solid rgb(229, 229, 229);
  padding: 55px 30px;
  text-align: left;
  width: 50%;
}
.border_left {
  border-left: transparent;
}
.border_bot {
  border-bottom: transparent;
}
.single_features i,
.single_features i.flaticon-lightbulbs,
.single_features i.flaticon-tshirt17 {
  float: left;
  font-size: 60px;
  position: absolute;
  top: 35%;
}
.single_features i.flaticon-lightbulbs,
.single_features i.flaticon-tshirt17 {
  top: 45%;
}
.features_text {
  margin-left: 20%;
}
.features_text h5,
.disclaimer h5 {
  margin-bottom: 10px;
}
.features_text p {
  font-weight: 300;
  font-family: nexa_regularregular;
}
/*-------------------------------
[7.2 Compare-Guarantee ]
--------------------------------*/
.features_box,
.guarantee_box {
  overflow: hidden;
}
.guarantee_box {
  border: 2px solid rgb(229, 229, 229);
  padding: 90px 65px;
  text-align: left;
}
.guarantee_features img {
  max-width: 160px;
}
.guarantee_text p {
  border-bottom: 1px solid rgb(229, 229, 229);
}
/*-------------------------------
[7.3 Compare-Tech-Table ]
--------------------------------*/
table {
  width: 100%;
}
table,
th,
td {
  border: 2px solid rgb(229, 229, 229);
  border-collapse: collapse;
  padding: 5px;
}
th {
  text-align: center;
  padding: 20px;
}
table tr td {
  color: rgb(37, 51, 69);
  font-size: 18px;
  padding: 20px;
  font-family: nexa_bookregular;
  font-weight: 400;
}
#home_table tr td:first-child {
  padding-left: 5%;
  text-align: left;
  font-family: nexa_regularregular;
}
/*-------------------------------
[7.4 Compare-Disclaimer ]
--------------------------------*/
.disclaimer i {
  font-size: 16px;
  margin-right: 10px;
  padding-top: 3px;
}
.disclaimer p {
  color: rgb(76, 92, 112);
  font-size: 16px;
}
.promo_p {
  margin-left: 25px;
}
/*==========================================
[8. Footer-Section ]
===========================================*/
.footer-padding {
  padding: 20px 0;
}
/*-------------------------------
[8.1 Footer-Top ]
--------------------------------*/
.footer_top {
  background: rgb(32, 43, 48) none repeat scroll 0 0;
  padding: 10px 0;
}
.newsletter h4 {
  font-family: "nexa_xboldregular";
  font-size: 20px;
  padding-top: 10px;
}
.newsletter:focus {
  border: 1px solid #3a4b60;
}
.newsletter input {
  border: 2px solid #ffffff;
  font-size: 14px;
  padding: 10px 20px;
}
.news_input {
  width: 75%;
}
.subscribe_btn {
  background: rgb(32, 43, 48) none repeat scroll 0 0;
  color: #ffffff !important;
  font-family: nexa_regularregular;
  font-size: 16px !important;
  width: 25%;
}
.newsletter input::-moz-placeholder,
.newsletter input::-webkit-input-placeholder {
  opacity: 1;
  color: #3a4b60;
}
/*-------------------------------
[8.2 Footer-Middel ]
--------------------------------*/
.footer_middel {
  background: rgb(23, 29, 32) none repeat scroll 0 0;
}
.footer_link p {
  // border-bottom: 1px solid #3a4b60;
  padding-bottom: 10px;
  width: 60%;
  margin-bottom: 15px;
}
/*-------------------------------
[8.2.1 Footer-Link ]
--------------------------------*/
.footer_link.address span {
  font-weight: 600;
}
.footer_link li {
  list-style: outside none none;
  font-family: nexa_regularregular;
}
.footer_link li:last-child {
  margin-bottom: 0;
}
.footer_link li a,
.address li,
.copyright a {
  text-transform: inherit;
}
.footer_link li a:hover,
.copyright p a:hover {
  color: rgb(173, 173, 173);
}
.footer_link li a:hover {
  padding-left: 10px;
}
.footer_icon {
  //padding-top: 10px;
}
.footer_icon li a {
  height: 30px;
  margin-right: 10px;
  padding-top: 4px;
  width: 30px;
}
.footer_icon li a i {
  color: #fff;
  font-size: 16px;
  padding-top: 3px;
}
.footer_icon li a:hover {
  background: #ffffff;
}
.footer_icon li a:hover i {
  color: #181e22;
}
/*-------------------------------
[8.3 Footer-Bottom ]
--------------------------------*/
.footer_bottom {
  background: rgb(32, 43, 48) none repeat scroll 0 0;
}
.copyright p,
.copyright p a {
  color: rgb(255, 255, 255);
  font-size: 13px;
  padding-top: 5px;
}
.copyright a {
  font-weight: 400;
}
/*--------------------------------------------------------
---------------------------[Home Page End ]--------------
---------------------------------------------------------*/
/*========================================================
				[ Checkout Page ]
=========================================================*/
/*========================================================
[1. Checkout-Section ]
=========================================================*/
.page-section-padding {
  padding-top: 40px;
  padding-bottom: 80px;
}
/*-------------------------------
[1.1 Panel-Sauget-Accordion ]
--------------------------------*/
.sauget-accordion .panel-heading {
  border-radius: 0;
  padding: 0;
}
.panel,
#total_colspan td {
  border: medium none;
}
.panel {
  box-shadow: none;
}
.sauget-accordion .panel-heading h4 a.collapsed {
  background: transparent;
}
.sauget-accordion .panel-heading h4 a.collapsed span {
  background: #363636;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px 16px;
}
/*-------------------------------
[1.2 Panel-Text ]
--------------------------------*/
.sauget-accordion .panel-heading h4 a,
.checkTitle .ct-design,
.commonChack p,
.commonChack label,
button.checkPageBtn,
a.checkPageBtn,
p.alrdyReg,
.loginFrom input,
.plxLogin,
label {
  color: rgb(58, 75, 96);
  font-family: roboto;
  font-size: 14px;
  font-weight: 400;
}
.alrdyReg {
  font-weight: 500 !important;
}
.sauget-accordion .panel-heading h4 a {
  background: rgb(232, 232, 232) none repeat scroll 0 0;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 12.5px 15px;
  text-transform: none;
}
.content-info {
  display: block;
  overflow: hidden;
}
.checkTitle .ct-design {
  font-weight: 500;
  line-height: 50px;
}
.commonChack p {
  margin-bottom: 15px;
}
.commonChack label,
.method-input-box label {
  margin-left: 7px;
  vertical-align: middle;
}
.regSaveTime.commonChack p {
  margin-top: 35px;
}
.product-review,
.shiping-method,
.product {
  margin-top: 25px;
}
/*-------------------------------
[1.3 Checkout-Form ]
--------------------------------*/
.method-input-box {
  margin: 30px 0;
}
.form-control:focus {
  border-color: rgb(58, 75, 96);
  box-shadow: 0px 0px 0px 0 rgb(58, 75, 96) inset, 0 0 3px rgb(58, 75, 96);
}
.loginFrom input {
  border-color: #e3e3e3;
  border-style: none none solid;
  border-width: 0 0 1px;
  display: block;
  padding: 5px;
  width: 100%;
}
.loginFrom {
  margin-bottom: 80px;
}
.form-control.plx {
  width: inherit;
}
/*-------------------------------
[1.4 CheckPageBtn ]
--------------------------------*/
button.checkPageBtn,
a.checkPageBtn {
  background: rgb(58, 75, 96) none repeat scroll 0 0;
  border: medium none;
  color: rgb(255, 255, 255);
  line-height: 30px;
  margin-bottom: 50px;
  padding: 10px 25px;
  transition: all 0.3s ease 0s;
}
button.checkPageBtn:hover,
a.checkPageBtn:hover {
  background: #202b30;
}
.review-bar .btn-default:hover {
  background: #ff5b5a;
  border-color: #ff5b5a;
}
/*========================================================
				[ Cart Page ]
=========================================================*/
.cart_title h4 {
  color: rgb(58, 75, 96);
  margin-bottom: 10px;
}
#cart_th th {
  background: rgb(229, 229, 229) none repeat scroll 0 0;
  border-radius: inherit;
}
.cart-table form {
  width: 100%;
}
.cart-table tr td .fa.fa-trash {
  color: rgb(255, 45, 45);
  font-size: 25px;
}
#cart_th th,
.cart-table tbody tr td {
  font-family: roboto;
  font-size: 14px;
}
#qua_in input,
#qua_in_2 input {
  border: 3px solid rgb(227, 227, 227);
}
tr#total_colspan td .checkPageBtn {
  margin-bottom: 0;
  line-height: inherit;
  padding: 10px 17px;
}
#total_colspan td {
  font-weight: 500;
}
/*========================================================
				[ Contact Page ]
=========================================================*/
/*-------------------------------
[1. GoogleMap ]
--------------------------------*/
#googleMap {
  height: 600px;
}
/*-------------------------------
[2. Contact-Us ]
--------------------------------*/
.contact_us h4,
.single_address {
  margin-bottom: 15px;
}
.contact_us h4 {
  color: rgb(58, 75, 96);
  text-transform: inherit;
}
.single_address span {
  font-weight: 600;
}
.single_address p {
  margin-bottom: 0;
}
button.btn-default.shop_now_btn {
  margin-top: 15px;
  border-radius: 0;
}
/*========================================================================
							[ END ]
=========================================================================*/
/*------------------------------------------------------------------
[RESPONSIVE CSS]
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
/*1.======================== Large Layout: 1900px. ============================*/
/* ScrollUp */
/*2. ======================= Medium Layout: 1280px. =============================*/
/*2.1 Header-Section */
/*2.2 Product-Section */
/*2.3 Choose-Section */
/*2.4 Features-Section */
/*2.5 Footer */
/*3. ======================= Tablet Layout: 768px. =====================*/
/*3.1 Header */
/*3.2 Product-Section */
/*3.3 Choose-Section */
/*3.4 Review-Section */
/*3.5 Compare-Section */
/*3.6 Footer */
/*3.7 Contact-page */
/*4. ================ Mobile Layout: 320px. =================== */
/*4.1 Header */
/*4.2 Slider-Section */
/*4.3 Product-Section */
/*4.5 Choose-Section */
/*4.6 Compare-Section */
/*4.7 Footer  */
/*4.8 Checkout-Page */
/*4.9 Contact-page */
/*5. ========================= Wide Mobile Layout: 480px. ==========================*/
/*5.1 Compare  */
/*-----------------------------------------------------------------*/
/*1.======================== Large Layout: 1900px. ============================*/
@media only screen and (min-width: 1282px) and (max-width: 1900px) {
  /* ScrollUp */
  #scrollUp {
    top: 83.6%;
  }
}
/*2. ======================= Medium Layout: 1280px. =============================*/
@media only screen and (min-width: 992px) and (max-width: 1280px) {
  h1 {
    font-size: 45px;
    line-height: 52px;
  }
  /* ScrollUp */
  #scrollUp {
    top: 77.6%;
  }
  /*2.2 Product-Section */
  .product_text_two h1 {
    margin-bottom: 45px;
  }
  .product_img {
    padding: 50px 70px;
  }
  .product_text_two,
  .tre_shirt_2_text {
    margin-left: -120px;
    margin-top: -190px;
  }
  .shop_now_btn {
    margin-top: 30px;
  }
  /*2.3 Choose-Section */
  .choose_text {
    margin-left: 9.37%;
    width: 26.7%;
  }
  /*2.4 Features-Section */
  .features_text {
    margin-left: 28%;
  }
  /*2.5 Footer */
  .newsletter input {
    padding: 10px 8px;
  }
}
/*3. ======================= Tablet Layout: 768px. =====================*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding {
    padding: 50px 0;
  }
  .section-padding-top {
    padding-top: 50px;
  }
  .page-section-padding {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  h5 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  #scrollUp {
    top: 85.6%;
  }
  /*3.1 Header */
  .logo {
    padding: 20px 0;
  }
  .head_lo img {
    width: 110px;
  }
  .logo a {
    padding: 0;
  }
  .mainmenu a {
    font-size: 13px;
    margin-left: 3px;
    padding: 6px 11px;
  }
  /*3.2 Product-Section */
  .product_text_two,
  .tre_shirt_2_text {
    margin-left: -110px;
    margin-top: -180px;
  }
  .product_text_two h1 {
    margin-bottom: 35px;
  }
  .shop_now_btn,
  .res_mar {
    margin-top: 25px;
  }
  .product_img,
  .product_img.tre_shirt_3 {
    padding: 10px;
  }
  .product_text p {
    font-size: 15px;
    line-height: 17px;
  }
  .tre_shirt_2_text {
    left: 30px;
  }
  /*3.3 Choose-Section */
  .choose_text {
    margin-left: 7.37%;
    width: 27.7%;
  }
  /*3.4 Review-Section */
  .single_review img {
    margin: 25px 0;
  }
  /*3.5 Compare-Section */
  .compare_title p,
  .footer_link p {
    margin-bottom: 25px;
  }
  .features_text {
    margin-left: 28%;
  }
  /*3.6 Footer */
  .newsletter input {
    padding: 10px;
  }
  .news_input {
    width: 65%;
  }
  .subscribe_btn {
    width: 35%;
  }
  /*3.7 Contact-page */
  #googleMap {
    height: 400px;
  }
}
/*4. ================ Mobile Layout: 320px. =================== */
@media only screen and (max-width: 767px) {
  .mobile-menu-area {
    display: block;
  }
  .mainmenu {
    display: none;
  }
  .section-padding {
    padding: 40px 0;
  }
  .section-padding-top {
    padding-top: 0;
  }
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  h5 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  /*4.1 Header */
  .header_top_left.float-left {
    text-align: center;
  }
  .social_icon {
    margin-bottom: 10px !important;
  }
  .social_others li a {
    margin-left: 5px;
  }
  .social_others li {
    margin-left: 0;
  }
  .searchbox-open {
    width: 100%;
    margin-top: 10px;
  }
  .mainmenu,
  .logo {
    padding: 15px 0;
    text-align: center;
  }
  .social_others a,
  .header_top_right ul li a {
    font-size: 12px;
  }
  .container.mean-container {
    padding: 0;
  }
  .mean-nav h4 {
    padding: 15px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 13px;
  }
  /*4.2 Slider-Section */
  .tparrows.preview3::after,
  .tparrows.preview3 {
    height: 30px;
    line-height: 32px;
    width: 30px;
  }
  /*4.3 Product-Section */
  .main_single_product {
    float: none;
    width: 100%;
  }
  .padding_right {
    padding-right: 0;
  }
  .single_product {
    margin-bottom: 40px;
  }
  .main_single_product:last-child .single_product {
    margin-bottom: 0;
  }
  .product_img {
    padding: 10px;
  }
  .product_img.tre_shirt_3 {
    padding: 10px 0;
  }
  .product_text_two h1 {
    margin-bottom: 25px;
  }
  .product_text p {
    font-size: 14px;
    line-height: 16px;
  }
  .shop_now_btn {
    margin-top: 10px;
  }
  .product_text_two,
  .tre_shirt_2_text {
    margin-left: -112px;
    margin-top: -150px;
  }
  .tre_shirt_2_text {
    left: 85px;
  }
  .padding_left {
    padding-left: 0;
  }
  /*4.4 Review-Section */
  .single_review img {
    margin: 20px 0;
  }
  .single_review p {
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 22px;
  }
  /*4.5 Choose-Section */
  .choose_text {
    margin-bottom: 30px;
    width: 95%;
    margin-left: 0;
  }
  /*4.6 Compare-Section */
  .compare_title p {
    margin-bottom: 15px;
  }
  .compare_menu ul li a {
    font-size: 10px;
    padding: 10px 9.8px;
  }
  .single_features {
    margin-bottom: 10px;
    padding: 15px 5px;
    width: 100%;
  }
  .single_features i,
  .single_features i.flaticon-lightbulbs,
  .single_features i.flaticon-tshirt17 {
    font-size: 40px;
  }
  .border_bot {
    border-bottom: 2px solid rgb(229, 229, 229);
  }
  .border_left {
    border-left: 2px solid rgb(229, 229, 229);
  }
  .guarantee_box {
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
  }
  .guarantee_features img {
    float: none;
    margin-bottom: 15px;
  }
  .promo_p,
  .guarantee_text {
    margin-left: 0;
  }
  /*4.7 Footer  */
  .newsletter h4 {
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 0;
  }
  .newsletter input {
    padding: 10px 5px;
  }
  .news_input {
    width: 65%;
  }
  .subscribe_btn {
    font-size: 11px !important;
    width: 35%;
  }
  .footer_link {
    margin-top: 40px;
  }
  .footer_link p {
    margin-bottom: 15px;
  }
  .col-md-3:first-child .footer_link {
    margin-top: 0;
  }
  .footer-padding {
    padding: 25px 0;
  }
  .copyright p {
    font-size: 11px;
    padding-top: 0;
  }
  .copyright_icon.text-right,
  .copyright p {
    text-align: center;
  }
  .copyright_icon.text-right img {
    width: 47px;
  }
  /*4.8 Checkout-Page */
  .page-section-padding {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  button.checkPageBtn,
  a.checkPageBtn {
    margin-bottom: 20px;
  }
  .form-control.plx {
    width: 100%;
  }
  /*4.9 Contact-page */
  #googleMap {
    height: 300px;
  }
  #mess_form .form-group {
    margin-bottom: 0;
  }
  #mess_form .form-group .form-control {
    margin-bottom: 8px;
  }
  #mess_form button.btn-default.shop_now_btn {
    margin-bottom: 20px;
    margin-top: 5px;
  }
}
/*5. ========================= Wide Mobile Layout: 480px. ==========================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
  /*5.1 Compare  */
  .compare_menu ul li a {
    font-size: 15px;
    padding: 10px 21.85px;
  }
}

.v-spacer {
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 20px;
}
.spacer {
  flex: 1 1 auto;
}

// style for body
body{
  overflow-x: hidden;
}
.fa-home{
  font-size: 22px;
}
.fa-home:hover{
  color: #ed047e;
}
.mat-button:hover{
  color: #ed047e;
}