<div class="container">
  <div class="row">
    <div *ngFor="let category of target" class="category_banner">
      <div class="jumbotron" [style] = "get_bg_style(image_path+category.id+'/'+category.image_path)" (click)="category.category?set_display_target(category.category):showCategoryProds(category.id)" >
        <h1>{{category.name}}</h1>
      </div>
    </div>
  </div>
</div>