<!-- Header-Section-Strat  -->
<header [@.disabled]="true">
  <div class="row">
    <div class="header_top">
      <div class="row" id="top_row_home">      
        <div class="header_top_right text-right">
          <p id="nv_top_p_area"><i class="fa fa-truck" aria-hidden="true"></i><span class="space"></span>Delivery option
            Available
            all over india <span class="space"></span> |<span class="space"></span> Free delivery above &nbsp;<i
              class="fa fa-inr"></i>499 </p>          
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mega_relative">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="logo head_lo">
            <h3 class="site-logo"><a [routerLink]="['/']"><img src="assets/images/logo.png" alt=""></a></h3>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="searchbox-list">
            <li class="searchbox searchbox-open">
              <input type="search" placeholder="Search Products" name="search" class="searchbox-input" required="">
              <input type="submit" class="searchbox-submit" value="">
              <span class="searchbox-icon"><i class="fa fa-search"></i></span>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="padding-right:0px;">
          <div class="mainmenu float-right">
            <nav>
              <ul class="mainicons">
                <li class="shop_icon">
                  <a [routerLink]="['/cart']">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  </a>
                  <p> <b>MY CART</b></p>
                </li>
                <li class="shop_icon">
                  <a (click)="isLogin()?toUserAc():loginStuff()"><i class="fa fa-user"></i></a>
                  <p> <b>{{isLogin()?'ACCOUNT':'LOGIN'}}</b></p>
                </li>
                <li *ngIf="isLogin()" class="shop_icon">
                  <a (click)="logout()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                  </a>
                  <p> <b>LOGOUT</b></p>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid menu_home_list">
    <mat-toolbar class="lg-menu-bar">
      <span style="    margin-left: 16%; flex: 0 1 auto;" class="spacer"></span>
      <span class="menu-buttons">
        <button mat-button [routerLink]="['/']"><i class="fa fa-2x fa-home" aria-hidden="true"></i>
        </button>
      </span>

      <ng-container *ngFor="let category of categoryInfo;index as i" class="menu-buttons">
        <button mat-button [matMenuTriggerFor]="menu" [innerHTML]="category.name+' <i class=\'fa fa-caret-down\'></i>'"></button>
        <mat-menu #menu="matMenu" xPosition="before" class="lg-menu-bar-panel">
          <ng-template matMenuContent>
            <button *ngFor="let subcat of category.category" [routerLink]="['/products/'+subcat.id]"
              [innerHTML]="subcat.name" mat-menu-item></button>
          </ng-template>
        </mat-menu>
      </ng-container>

      <span class="spacer"></span>
    </mat-toolbar>
  </div>
</header>
<!-- mobile-menu-area start -->
<div class="mobile-menu-area">
  <div class="container">
    <div class="mobile-menu">

      <nav id="dropdown">
        <ul>
          <li><button (click)="toggleMobMenu=!toggleMobMenu" mat-button class="mobile-menu-button"><i
                class="fa fa-bars"></i></button></li>
          <mat-expansion-panel [expanded]="toggleMobMenu">
            <mat-accordion>
              <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                  ACCOUNT
                </mat-expansion-panel-header>
                <mat-list role="list">
                  <a class="mob-menu-ac-link" [routerLink]="['/cart']" (click)="closenavs()" mat-list-item
                    routerLinkActive role="listitem">
                    <i class="fa fa-shopping-basket mob-menu-ac-link-icon" aria-hidden="true"></i>
                    MY CART
                  </a>
                  <a class="mob-menu-ac-link" [routerLink]="['/wishlist']" (click)="closenavs()" mat-list-item
                    routerLinkActive role="listitem">
                    <i class="fa fa-heart mob-menu-ac-link-icon"></i>
                    WISHLIST
                  </a>
                  <a class="mob-menu-ac-link" [routerLink]="['/user']" (click)="closenavs()" mat-list-item
                    routerLinkActive role="listitem">
                    <i class="fa fa-user mob-menu-ac-link-icon"></i>
                    LOGIN
                  </a>
                </mat-list>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  CATEGORIES
                </mat-expansion-panel-header>
                <mat-accordion>
                  <mat-expansion-panel *ngFor="let category of categoryInfo">
                    <mat-expansion-panel-header>
                      {{category.name}}
                    </mat-expansion-panel-header>

                    <mat-list role="list">
                      <a [routerLink]="['/products/'+subcat.id]" (click)="closenavs()" routerLinkActive mat-list-item
                        *ngFor="let subcat of category.category" [innerHTML]='subcat.name' role="listitem"></a>
                    </mat-list>

                  </mat-expansion-panel>
                </mat-accordion>
              </mat-expansion-panel>


            </mat-accordion>
          </mat-expansion-panel>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- mobile-menu-area end -->
<!-- Header-Section-End  -->