body{
  overflow-x: hidden;
}
.site-logo {
  color: #394a5f;
  width: 60px;
}
.site-logo img{
  height:45px;
}
@media only screen and (min-width: 600px){
  button.mat-menu-item {
    margin-top: -8%;
  }
}

span.space {
  padding-right: 10px;
}
b{
  font-weight:500;
  color: black;
}
ul.mainicons{
  margin-top:5%;
}
ul.searchbox-list{
  margin-top:3%;
}
li.shop_icon {
  display: inline-flex;
}
li.shop_icon p {
  margin-left: 5px;
  padding-top: 5px;
}
li.shop_icon .fa {
  color: #394a5f;
}
i.mob-menu-ac-link-icon {
  margin-right: 10px;
}
.menu-buttons{
  transition-delay: 0s;
  height: 38px;
}
mat-menu,.mat-menu-panel{
  transition: none;
}
div.mobile-menu-area,
div.mobile-menu-area mat-expansion-panel,
div.mobile-menu-area mat-expansion-panel-header,
mat-toolbar.lg-menu-bar {
  background-color: #3f424b;
  color: #fff;
//  height:49px;
}

span::after {
  color: #ed047e;
}


#nv_top_p_area{
  margin-bottom: 0px;
}
div.mobile-menu-area a,
div.mobile-menu-area nav i {
  color: #fff;
}
div.mobile-menu-area ul {
  list-style-type: none;
}
button.mobile-menu-button {
  padding: 0;
  min-width: 0;
}
.spacer {
  flex: 1 1 auto;
}
.shop_icon a {
  background: rgba(0, 0, 0, 0.31) none repeat scroll 0 0;
  border: 1px solid #394a5f;
  height: 30px;
  background-color: #eceded !important;
  padding: 5px !important;
  width: 30px;
}
@media (hover: none) {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
    background-color: #3f424b;
  }
}
@media only screen and (max-width: 767px) {
  .site-logo {
    width: 65px;
  }
  mat-toolbar.lg-menu-bar {
    display: none;
  }
}
.container-fluid .menu_home_list{
   height:41px;
}
.mat-button{
  padding-right: 24px;
  padding-left:24px;
  font-weight: 400;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.7;
}
#top_row_home{
   margin-right: 0px;
   margin-left:0px;
   padding-right: 30px;
}
.mega_relative{
  padding-bottom:12px;
}
.header_top_right p{
   font-weight: bolder;
}
.searchbox-open {
  border: 1px solid #91a0b3;
  border-right: 0px;
  border-radius: 3px;
  width: -webkit-fill-available;
}
.menu_home_list{
  padding-right: 0px;
  padding-left: 0px;
}
.shop_icon p{
  font-weight: 400;
  font-size: 15px;
}
.shop_icon p:hover{
    color:#ed047e;
}
