<!-- Product-collections-Section-Strat  -->
<section class="product_area section-padding">
  <div class="padding_right main_single_product">
    <div class="single_product">
      <div class="product_img">
        <img src="assets/images/product/tre-shirt-1.png" alt="DARK BLUE IMAGE" />
      </div>
      <div class="product_text dark_product">
        <h1>DARK BLUE</h1>
      </div>
    </div>
  </div>
  <div class="padding_left main_single_product">
    <div class="single_product single_product_two">
      <div class="product_img">
        <img src="assets/images/product/tre-shirt-1.png" alt="DARK BLUE IMAGE" />
      </div>
      <div class="product_text_two product_text">
        <h1>MEN'S TEE</h1>
        <p>100% COMBED COTTON</p>
        <p>COLOR: DARK BLUE</p>
        <p>ROUND NECK & HALF SLEEVES</p>
        <p>Classic fit, slightly long</p>
        <p>GSM: 180</p>
        <p>PRICE: $ 21.99</p>
        <a class="shop_now_btn" href="#">SHOP NOW</a>
      </div>
    </div>
  </div>
  <div class="padding_right main_single_product section-padding-top">
    <div class="single_product single_product_two">
      <div class="product_img tre_shirt_2">
        <img src="assets/images/product/tre-shirt-2.png" alt="DARK BLUE IMAGE" />
      </div>
      <div class="product_text_two tre_shirt_2_text product_text">
        <h1>MEN'S TEE</h1>
        <p>100% COMBED COTTON</p>
        <p>COLOR: WHITE & BLACK</p>
        <p>ROUND NECK & HALF SLEEVES</p>
        <p>Classic fit, slightly long</p>
        <p>GSM: 180</p>
        <p>PRICE: $ 21.99</p>
        <a class="shop_now_btn" href="#">SHOP NOW</a>
      </div>
    </div>
  </div>
  <div class="padding_left main_single_product section-padding-top">
    <div class="single_product">
      <div class="product_img tre_shirt_2">
        <img src="assets/images/product/tre-shirt-2.png" alt="DARK BLUE IMAGE" />
      </div>
      <div class="product_text dark_product">
        <h1>WHITE & BLACK</h1>
      </div>
    </div>
  </div>
  <div class="padding_right main_single_product section-padding-top">
    <div class="single_product">
      <div class="product_img tre_shirt_3">
        <img src="assets/images/product/tre-shirt-3.png" alt="DARK BLUE IMAGE" />
      </div>
      <div class="product_text dark_product">
        <h1>GRAY WITH BLACK</h1>
      </div>
    </div>
  </div>
  <div class="padding_left main_single_product section-padding-top">
    <div class="single_product single_product_two">
      <div class="product_img tre_shirt_3">
        <img src="assets/images/product/tre-shirt-3.png" alt="DARK BLUE IMAGE" />
      </div>
      <div class="product_text_two product_text">
        <h1>LADIES TEE</h1>
        <p>100% COMBED COTTON</p>
        <p>COLOR: GRAY WITH BLACK</p>
        <p>ROUND NECK & HALF SLEEVES</p>
        <p>Classic fit, slightly long</p>
        <p>GSM: 180</p>
        <p>PRICE: $ 31.99</p>
        <a class="shop_now_btn" href="#">SHOP NOW</a>
      </div>
    </div>
  </div>
</section>
<!-- Product-collections-Section-End  -->